/* Importación de fuentes y estilos generales de la página */
@font-face {
  font-family: arcade;
  src: url('../fuentes/arcade/arcade.TTF');
}

@font-face {
  font-family: icons;
  src: url('../fuentes/arcade/icons.TTF');
}

@font-face {
  font-family: vicecity;
  src: url('../fuentes/ViceCitySans.otf');
}

@font-face {
  font-family: aquamax;
  src: url('../fuentes/games.ttf');
}

/*Estilos generales y barra de navegación*/
*{
  font-family: vicecity;
}

h1{
  font-family: aquamax;
}
body{
	background-image: url('../img/background.jpg');
	background-size: cover;
}

.navbar-light .navbar-toggler {
	background-color: #dee2e6;
}

.navbar-light .navbar-nav .nav-link{
	color: #dee2e6;
	font-family: vicecity;
	font-size: 18px;
}

.logo{
	font-family: arcade;
	font-size: 32px;
	color: #dee2e6 !important;
	padding-right: 15px;
}

.menu-icon{
	font-family: icons;
	font-size: 35px;
	margin-left: 5px;
	padding: 5px;
}

.dropdown-menu{
	background-color: #2c5e4c;
	font-family: vicecity;
}

.dropdown-item{
	color: #dee2e6;
}
/*Estilo del index*/
.video-section{
	height: 550px;
	font-family: vicecity;
	z-index: -9;
}

.video-section {
  position: relative;
  overflow: hidden;
  background-color:black;
}
.video-section video {
  position: absolute;
  z-index: -9;
  top: 0;
  width:100%;
  height:100%;
  object-fit: cover;
  opacity:0.5;
}
.video-section .container {
  z-index: 2;
  position: relative;
}

.info-section{
	z-index: 9;
	height: 550px;
	background-image:
	linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),url('../img/banner-index.jpg');
	background-size: cover;
	font-family: vicecity;
}

.contenido-info-section{
	margin: 0 auto;
	margin-top: 100px;
	max-width: 600px;
	font-size: 18px;
}

.contenido-info-section-botones .btn{
	width: 150px;
	margin: 5px;
	font-size: 18px;
}

.cajita-info{
	margin-top: 10px;
	padding: 5px;
	font-family: vicecity;
}

.cajita-info img{
	margin-bottom: 20px;
	height: 150px;
	width: 170px;
}

.cajita-info p{
	font-size: 18px;
}

/* Estilo de la pantalla de listado de juegos */
.list-juegos-section{
	min-height: 650px;
}

.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/* Estilo de la página individual de cada juego */

.img-juego{
	width: 370px;
	height: 300px;
	border-radius: 5%;
}

.ficha-tecnica td{
	border: 2px solid white;
	font-size: 18px;
}

.lista-torneos li a{
	font-size: 18px;
	font-family: vicecity;
}

.texto-opinion{
	font-size: 17px;
}

.positiva{
	background-color: #a1fcbb;
}

.negativa{
	background-color: #ff8787;
}

/* Estilo del listado de grupos disponibles */

.contenedor-grupos{
  min-height: 650px;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 5px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1.5s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.form-opinion .form-control{
  margin: auto;
}

#botonEnviarOpinion{
  margin: auto;
}

/* Estilo de la página de grupos */
.img-grupo img{
  width: 400px;
  height:350px;
  border-radius: 5%;
  margin: 0 auto;
}

.texto-grupo{
  font-size: 17px;
}
.cajita-miembro:parent {
  display: block;
  float: left;
}
.img-miembro{
  width:110px;
  height:110px;
  border-radius:50%;
}

/* Estilo de formularios */
.contenedor-form-login{
	margin: 0 auto;
	margin-top: 25%;
	margin-bottom: 25%;
}

.modal-content{
	background-color: #3b4652;
	padding: 0 20px;
	opacity: 0.85;
	box-shadow: 0px 0px 3px #848484;
}
.form-icon{
	width: 100px;
	height: 100px;
	border-radius:150px;
	margin-top: -50px;
	margin-bottom: 35px;
	box-shadow: 0px 0px 3px #848484;
}

.form-group input{
	height: 40px;
	font-size: 18px;
	border: 0;
	border-radius: 7px;
	display: flex;
	flex-wrap: wrap;
}

.linea-form{
	margin: 5px;
}

.enviar{
	width: 50%;
	margin: 5px 0 25px;
}

.registrar-link{
	margin-bottom: 5px;
}

.registrar-link a{
	font-family: vicecity;
}

.enviar{
	font-family: vicecity;
}

.contenedor-formulario .formulario{
	display: none;
}

.contenedor-formulario .formulario:nth-child(1){
	display: block;
}

.form-inline{
	justify-content: space-between;
}

.input-medio{
  font-family: vicecity;
  display: block;
  width: 48%;
  height: 45px !important;
  padding: 0.375rem 0.75rem;
  font-size: 18px !important;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 15px;
}

.input-completo{
	font-family: vicecity;
	  display: block;
  width: 100%;
  height: 45px !important;
  padding: 0.375rem 0.75rem;
  font-size: 18px !important;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control{
	font-family: vicecity;
}

.formulario-grupo{
  font-family: vicecity;
}

/*Estilo del footer*/

/*html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}*/

footer{
background-color: #2c5e4c;
font-family: vicecity;
}

footer p{
	font-size: 18px;
}
.copyright{
background-color: #1c382e;
}

.list-inline-item a{
font-size: 30px;
}


/* canal interesante: https://www.youtube.com/user/rimorsoft/videos*/